@page "/Error"
@using Microsoft.AspNetCore.Mvc.RazorPages
@model ErrorModel

<h2>Something went wrong.</h2>
<p>An unhandled error occurred. Restart the app to retry.</p>

@functions {
    public class ErrorModel : PageModel { }
}
